<div class="row">
  <div class="col-md-6">
    <h3>Day 1 · Fri 11/30</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="https://swc-uiuc.github.io/organization-genomics/">Data organization for genomics</a></td></tr>
      <tr><td>Morning</td><td><a href="http://swc-uiuc.github.io/shell-genomics/">Introduction to the command line</a></td></tr>
      <tr><td>Afternoon</td> <td><a href="http://swc-uiuc.github.io/wrangling-genomics/">Wrangling genomics data</a></td></tr>
    </table>
  </div>
  <!-- <div class="col-md-6"> -->
  <!--   <h3>Day 2 · Fri 9/28</h3> -->
  <!--   <table class="table table-striped"> -->
  <!--     <tr><td>Morning</td> <td> <a href="https://swc-uiuc.github.io/r-genomics/">Data analysis with R for genomics</a></td></tr> -->
  <!--     <tr><td>Morning</td><td><a href="https://echo360.org/media/1f6a8177-2bf1-49db-803f-37c4f05d3261/public">Video Recording</a></td></tr> -->
  <!--     <tr><td>Afternoon</td> <td> <a href="https://swc-uiuc.github.io/r-genomics/">Data visualization with R for genomics</a></td></tr> -->
  <!--     <tr><td>Afternoon</td><td><a href="https://echo360.org/media/d5fc4e42-690a-4f96-906e-014af188de6f/public>Video Recording</a></td></tr> -->
  <!--   </table> -->
  <!-- </div> -->
</div>
